.rectangle-template {
	width: 420px;
	height: 600px;
	align-items: center;
	justify-content: center;
}

.rectangle-template img {
	max-height: 600px;
	max-width: 520px;
	position: absolute;
	align-self: center;
}


.head-text {
	position: relative;
 }

 .text-on-image {
   position: absolute;
   width: 40%;
   margin: 20px;
   right: 20%;
   left: 20%;
   top: 20%;
 }
 