.rectangle-template {
	width: 420px;
	height: 600px;
	align-items: center;
	justify-content: center;
}

.rectangle-template img {
	max-height: 600px;
	max-width: 520px;
	position: absolute;
	align-self: center;
}


.head-text {
	position: relative;
	white-space: pre-wrap;
 }

 .text-on-image {
	white-space: pre-wrap;
 }