.rectangle-template {
	width: 450px;
	align-items: center;
	justify-content: center;
}

.rectangle-template img {
	max-height: 600px;
	max-width: 550px;
	position: relative;
	align-self: center;
}


.head-text {
	position: relative;
	white-space: pre-wrap;
 }

 .text-on-image {
	white-space: pre-wrap;
 }


