  .drag-wrapper {
    cursor: -webkit-grab;
    cursor: grab;
  }

  .rectangle-image {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
  }

  .rectangle-image img {
    max-height: 400px;
    max-width: 300px;
  }

