  .drag-wrapper {
    cursor: -webkit-grab;
    cursor: grab;
  }

  .rectangle-image {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 50%;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  .rectangle-image img {
    max-height: 400px;
    max-width: 300px;
  }

.image-item .rectangle-image .react-draggable {
  width: 1px !important;
  height: 1px !important;
}