@import "bulma/css/bulma.css";
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

.columns.is-vcentered {
	align-items: flex-start;
}

.title {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	font-family: "Alkatra", cursive;
}

.category {
	justify-content: center;
	align-items: center;
	font-family: "Alkatra", cursive;
	font-size: 32px;
	margin-top: 40px;
	font-weight: bold;
	border: 0.1em solid black;
	color: black;
	text-align: center;
}

.element {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0.3em solid black;
}

.card {
	color: black;
}

.content h2 {
	font-size: 20px !important;
	margin-top: 30px;
}

.extras {
	display: flex;
	gap: 30px;
}

.middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	margin: 10px 40px;
}
