@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.navbar-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	height: 50px;
	align-items: center;
	background-color: black;
	height: 130px;
	width: 100%;
	font-family: 'Alkatra', cursive;
	font-size: 50px;
}

p {
	color: white;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

