* {
    margin: 0;
    padding: 0;
}

.burger-menu {
    display: block;
}
  
.burger-menu .menu-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0.3rem 0.5rem;
    margin: 0px;
    z-index: 1;
    background-color: transparent;
  }
  
  .burger-menu .menu-cross-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border: none;
    margin: 0px;
    background-color: transparent;
  }

  .burger-menu .menu-list{
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    z-index: 100;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
  }
  
  .burger-menu .menu-item {
    margin: 1rem;
    padding-bottom: 0.5rem;
  }
  
  .burger-menu .menu-link {
    text-decoration: none;
    color: white;
  }

  .burger-menu .menu-link:hover {
   cursor: pointer;
   color: blue;
  }
  
  .burger-menu .menu-icon {
    padding: 0 1rem;
  }
  
  .burger-menu .menu-icon:hover {
    color: white;
  }

  .subnav {
    float: left;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .subnav .subnavbtn:hover {
   cursor: pointer;
   color: purple;
  }

  .subnav-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
  }

  .burger-menu-item:hover {
    cursor: pointer;
    color: purple;
  }
  
  
  @media only screen and (min-width: 576px) {
    .burger-menu {
        display: none;
    }
  };
    
    