.rectangle {
	display: inline-block;
	border: 2px solid red;
	background-size: contain;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
	position: absolute;
	top: 1px;
	right: 0;
	top: 30%;
	right: 50%;
}

img {
	width: 300px;
	height: 400px;
}

.card-template-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
