.rectangle {
	display: inline-block;
	border: 2px solid red;
	background-size: contain;
	background-repeat: no-repeat;
	width: 500px;
	height: 550px;
	position: absolute;
	top: 10%;
	right: 10%;
}

img {
	width: 300px;
	height: 400px;
}

.card-template-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
