.rectangle {
	display: inline-block;
	border: 2px solid red;
	background-size: contain;
	background-repeat: no-repeat;
	width: 500px;
	height: 550px;
	top: 10%;
	right: 10%;
	margin-top: 30px;
}


img {
	max-height: 400px;
	max-width: 400px;
}

.card-template-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.image-position {
	position: relative;
	margin: 10px;
	top: 50px;
}