

img {
  max-height: 400px;
  max-width: 300px;
  border-radius: 10px;
  border: 2px double red;

}

.card-template-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.image-position {
  position: relative;
  margin: 10px;
  top: 50px;
  z-index: 5;
  align-self: center;
}
