.carousel {
	overflow: hidden;
	width: 100%;
	margin-top: 3em;
	border-radius: 3em;
	border: solid black 0.1em;
}

.inner {
	white-space: nowrap;
	transition: transform 0.3s ease;
	height: 100%;
	width: 100%;
}

.carousel-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border: 0.1em solid black;
	margin: 0.1em;
	width: 100%;
}

.indicators {
	display: flex;
	justify-content: center;
}

.indicators > button {
	margin: 5px;
}

.indicators > button.active {
	background-color: green;
	color: white;
}
