.carousel {
    overflow: hidden;
    width: 35%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.5s ease;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: green;
    color: white;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators >button.active {
    background-color: green;
    color: white;
}