.carousel {
    overflow: hidden;
    width: 40%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.4s ease;
    height: 100%;
    width: 100%;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0.1em solid black;
    margin: 0.1em;
    width: 100%;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators >button.active {
    background-color: green;
    color: white;
}

