* {
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    display: block;
}
  
.dropdown-menu button {
        background: none!important;
        border: none;
        padding: 0!important;
        text-decoration: underline;
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  
.menu-list{
    position: fixed;
    list-style-type: none;
    z-index: 100;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: rgb(186, 205, 228);
  }
  
  .menu-item {
    margin: 1rem;
    padding-bottom: 0.5rem;
  }
  
