@import "bulma/css/bulma.css";
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.title {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	font-family: 'Alkatra', cursive;
}

.category {
	justify-content: center;
	align-items: center;
	font-family: 'Alkatra', cursive;
	font-size: 30px;
	margin-top: 40px;
}

.card {
	color: white;
}

.content h2 {
	font-size: 20px !important;
	margin-top: 30px;
}
