@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.navbar-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100px;
    align-items: center;
    background-color: rgba(236, 106, 20, 0.622);

}

.navbar-container .nav-link {
    text-decoration: none;
}

.navbar-title {
    font-size: 50px;
    color:blueviolet;
    font-family: 'Alkatra', cursive;
}


@media only screen and (max-width: 576px) {
    .navbar-container {
        display: none;
    }
  };
    