.navbar-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 50px;
    align-items: center;
    background-color: bisque;
}

.navbar-container .nav-link {
    text-decoration: none;
}