  .drag-wrapper {
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  img {
    max-height: 400px;
    max-width: 300px;

  }

  .resizable-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
  }