  .drag-wrapper {
    cursor: -webkit-grab;
    cursor: grab;
  }

  .rectangle-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
  }

  .rectangle-image img {
    max-height: 400px;
    max-width: 300px;
  }

