@import "bulma/css/bulma.css";



.container {
	background-color: rgba(137, 43, 226, 0.088);
	width: auto;
	height: 120vh;
}

.container h1 {
	margin: 20px;
	font-family: 'Alkatra', cursive;
	color: blueviolet;
}