@import "bulma/css/bulma.css";

.app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.left-container {
	display: grid;
	flex-direction: column;
	width: 60%;
}


.download {
	display: flex;
	justify-content: center;
	align-items: center;
}